body,
html {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.hyperspace {
    animation: hyperspace 3s linear forwards;
}

.overlay-container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: wrap;
    text-align: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(216, 216, 14);
    animation: moveUp 45s linear forwards;
    transform-origin: bottom;
    transform: perspective(350px) rotateX(8deg);
    -webkit-transform: perspective(350px) rotateX(8deg);
}

.overlay-container > p {
    flex-shrink: none;
    text-align: justify;
    position: relative;
    justify-content: center;
    font-size: 6.5em;
    font-weight: 700;
    text-wrap: wrap;
    width: 120vw;
    left: -10vw;
    right: 0;
}

.overlay-container > h2 {
    position: relative;
    text-align: center;
    font-size: 7em;
}

.overlay-container > h1 {
    text-align: center;
    position: relative;
    text-wrap: wrap;
    font-size: 8em;
}

.longtimeago {
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 2.25em;
    color: #4ee;
    background-color: black;
    overflow: hidden;
    position: relative;
    text-wrap: wrap;
    text-align: left;
}

.longtimeago > div {
    position: absolute;
    left: 30vw;
    margin-right: 1em;
    top: 40vh;
    right: 0;
    margin-left: auto;
}

.logo {
    -webkit-text-stroke: 5px;
    stroke: 5px;
    color: yellow;
    font-size: 16em;
    opacity: 0;
    z-index: 1;
    animation: logo 1.8s ease-out 2.5s;
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 20vh;
}

.links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid yellow;
    color: yellow;
    top: 45vh;
    left: 25%;
    animation: links;
    animation-delay: 46s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.links > div {
    border: 1px solid yellow;
    padding: 20px;
}

@media screen and (min-width: 1024px) {
    /* this is a very hacky implementation of responsive web design but time crunch means it has to do for now */
    .overlay-container {
        transform: perspective(350px) rotateX(16deg);
        -webkit-transform: perspective(350px) rotateX(16deg);
    }
    .overlay-container > p {
        width: 60vw;
        font-size: 3.5em;
        left: 22vw;
    }
    .overlay-container > h2 {
        font-size: 4em;
    }
    .overlay-container > h1 {
        width: 60vw;
        left: 22vw;
        font-size: 5em;
    }
    .longtimeago {
        font-size: 1.5em;
    }
    .logo {
        left: 20vw;
    }
    .links {
        left: 35vw;
    }
}

@keyframes intro {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}

@keyframes moveUp {
    0% {
        top: 160%;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0.2;
    }
    100% {
        top: -270%;
        opacity: 0;
    }
}

@keyframes links {
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hyperspace {
    0% {
        background-color: rgba(60, 73, 255, 0);
    }
    10% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.9;
    }
    80% {
        opacity: 1;
    }
    90% {
        background-color: aliceblue;
    }
    100% {
        background-color: rgb(0, 0, 0, 0);
    }
}
